{% extends '../base/base2.html' %}
{% block content %}


<div class="ancho col-sm-12 col-md-7 col-lg-8 col-xl-8">

    <h3 class="text-center">{{error}}</h3>
    <h2 class=" tituloAgregar text-center">Agregar</h2>
        <form action="" method="post" class="form_agregar card card-body mt-5" enctype="multipart/form-data">
          
            {% csrf_token %}
            {{producto_form}}
            <div class="btn_centro">
                <button class="btn_agregar">Agregar Producto</button>
            </div>
            

        </form>

</div>


{% endblock %}