{% extends '../base/base2.html' %}
{% block content %}

<div class="table">
    

    <div class="table-responsive">
        <table class="table table-striped">
            <h1 class="text-center">Listar</h1>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>imagen</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Stock</th>

                </tr>
            </thead>
            <tbody>
                {% for producto in page_obj %}
                <tr>
                    <td>{{producto.id}}</td>
                    
                    <td>{% if producto.imagen %} <img src="{{producto.imagen.url}}"></td>
                    {% endif %}
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.stock}}</td>
                    <td>
                        <a href="{% url 'editar' producto.id %}" class="btnEditar">Editar</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="pagination-link">&laquo; Primera</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link">Anterior</a>
            {% endif %}
            <span class="current">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="pagination-link">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-link">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
    

</div>


{% endblock %}