{% extends '../base/base.html' %}

{% block content %}

<div class="login_form" id="Login">
    <div class="left">
        <img src="/static/assets/smon.png">
    </div>


    <div class="right">
      

        <h1>Iniciar Sesión</h1>
        <span><h4>{{ mensaje }} </h4></span>
        <form action="#" method="post">
  
            {% csrf_token %}

            <p>Nombre de Usuario</p>
            <div class="user">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="username" id="username" class="username"
                placeholder="Ingresa tu nombre de usuario">
            </div>

            <p class="passworg_tag">Contraseña</p>
            <div class="password1">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" id="password" class="password" placeholder="Ingresa tu contraseña" >
            </div>
         


            <button class="btn btn-primary mt-2">Iniciar sesion</button>

        </form>

    </div>

</div>



{% endblock %}