{% extends '../base/base.html' %}


{% block content %}


<div class="login_form_register" id="Login">
    <div class="left">
        <img src="/static/assets/smon.png">
    </div>
    
    <div class="right">
        <h1>Registrarse</h1>

         <h3 class="text-center">{{error}}</h3>
        <form action="#" method="post">
            {% csrf_token %}
            <p>Nombre de Usuario</p>
            <div class="user">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="username" id="username"
                placeholder="Ingrese su nombre de usuario" required minlength="5">
            </div>
           
            <p class="email_tag">Correo electronico</p>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" name="email" id="email"  placeholder="Ingrese su correo"
                required>
            </div>

           
            <p class="passworg_tag">Contraseña</p>
            <div class="password1">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password1"  id="password1" placeholder="Contraseña">
            </div>
            
             <p class="passworg_tag1">Contraseña</p>
             <div class="password2">
                 <i class="fa-solid fa-lock"></i>
                 <input type="password" name="password2" id="password2" placeholder="Ingrese su contraseña denuevo" required minlength="5">
             </div>
            

            <br>
            <button type="submit">Registrarse</button>

        

        </form>

    </div>

</div>
{% endblock %}