* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(to top, #c72092, #6c14d0);
}

section nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

section nav .logo{
    font-size: 35px;
    color: #941c70; 
    margin: 5px 0;
 
   
}

section nav .logo span{
    color: #470097;
    text-decoration: underline;
}


.MENU {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    margin: 0;
    background-color: #F7F7F7;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#MENU-TOGGLE {
    display: none;
}

.logo {
    cursor: pointer;
}

.MENU {
    display: none;
}

#MENU-TOGGLE:checked ~ .MENU {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    margin: 0;
    background-color: #f7f7f7;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.MENU LI {
    margin-bottom: 1.5rem;
}

.MENU A {
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
}



section nav .icons i{
    margin: 0 4px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    color: #c72092;
    
}


section nav .icons i:hover{
    color: #c72092;
}