/* Estilo para el formulario de búsqueda */
.form-buscar {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Estilo para el campo de texto */
.input-buscar {
    width: 60%;
    padding: 5px;
    margin-right: 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-buscar:focus {
    border-color: #6c14d0; /* Color de borde al enfocar */
    outline: none;
}

/* Estilo para el botón de búsqueda */
.btn-buscar {
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: #6c14d0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-buscar:hover {
    background-color: #5a0bb7; /* Color de fondo al pasar el ratón */
}

.btn-buscar:active {
    background-color: #4a0998; /* Color de fondo al hacer clic */
}

.resultado{
    margin: 65px 0;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #c72092,#6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   

}

.busquedanada{
    margin: 65px 10px;
    font-size: 45px;
    display:flex;
    text-transform: uppercase;
    background: linear-gradient(to right, #000000,#6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

}