.mensalista {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #e61da6, #6e09e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

.mensalista h2{
    text-align: center; /* Para centrar el texto horizontalmente */
   
   }

