{% extends '../base/base.html' %}
{% block content %}

<div class="main-content">
  
  <div class="cart">
        <div class="cart-items">
            {% if carrito %}
                {% for carro in carrito %}
                <div class="container-title">Carro de compra </div>
                    <div class="cart-item">
                        <img src="{{carro.producto.imagen.url}}" alt="{{carro.producto.nombre}}">
                        <div class="item-details">
                            <div class="product-name">{{carro.producto.nombre}}</div>
                            <div class="quantity">
                                <a href="{% url 'restar' carro.producto.id %}">-</a>
                                <span>{{carro.cantidad}}</span>
                                <a href="{% url 'sumar' carro.producto.id %}">+</a>
                            </div>
                            <div class="subtotal">CLP{{carro.subtotal}}</div>
                            <span class="close">&#10005;</span>
                        </div>
                    </div>
                {% endfor %}
          
        </div>
       
    </div>
    <div class="cart-total">
        <h2>Total a pagar: {{total}} CLP</h2>
        <a class="btn " type="button">Continuar</a>
        <a class="btn " type="button" href="{% url 'vaciar' %}">Vaciar Carrito</a>
    </div>


    {% else %}
    <div>
    <h2>
        {{mensaje}}
    </h2>
    </div>
    <div class="parteAbajo" style="height: 324px;"></div> <!-- Espacio vacío para separar los productos del footer -->

    {% endif %}
</div>

<div class="parteAbajo" style="height: 157px;"></div> <!-- Espacio vacío para separar los productos del footer -->


{% endblock %}