{% extends '../base/base.html' %}

{% block content %}
<div class=" ordencomp card" >
    <h3 class=" ordenmensaje mensaje">{{error}}</h3>
    <h2 class="totalpagar">Total a pagar {{total}}</h2>

    <form action="" method="post">
        {% csrf_token %}

        <select class="formulaorden form-control" name="comuna" id="comuna"  placeholder=" Seleccione una promocion"required>
            <option clase="comuna" value="">
                Selecciona la comuna
            </option>
            {% for com in comunas%}
           <option value="{{ com.0 }}">{{com.1}}</option>
           {% endfor %}
        </select>

        <div>
            <input class="direccionorden" type="text" name="direccion" id="direccion" placeholder="Ingresa la direccion de entrega">
        </div>

        <div>
            <input class="recibaorden" type="text" name="recibe" id="recibe" placeholder="Ingresa quien recibira ">
        </div>


        <button class="btn_realizacomp">Realizar compra</button>

    </form>
</div>



{% endblock %}