{% extends '../base/base.html' %}

{% block content %}
<div class="card" style="margin-top: 20%;">
    <h3>{{error}}</h3>
    <h2>Total a pagar {{total}}</h2>

    <form action="" method="post">
        {% csrf_token %}

        <select class="form-control" name="comuna" id="comuna"  placeholder=" Seleccione una promocion"required>
            <option value="">
                Selecciona la comuna
            </option>
            {% for com in comunas%}
           <option value="{{ com.0 }}">{{com.1}}</option>
           {% endfor %}
        </select>

        <div>
            <input type="text" name="direccion" id="direccion" placeholder="Ingresa la direccion de entrega">
        </div>

        <div>
            <input type="text" name="recibe" id="recibe" placeholder="Ingresa quien recibira ">
        </div>


        <button>Realizar compra</button>

    </form>
</div>



{% endblock %}