<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DonJoshua</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/baseadmin.css' %}">
        <link rel="stylesheet" href="{% static 'css/listaradmin.css' %}">
        
</head>

<body> 
    <section>
        <nav>
            <div class="logo">
            <input type="checkbox" id="MENU-TOGGLE">
            <label for="MENU-TOGGLE" >
            
                <h1>Admi<span>nistrador</span></h1>
                <span> </span>
            </label>
            <ul class="MENU">
                <li><a href="{% url 'listar' %}">Listado de productos</a></li>
                <li><a href="{% url 'agregar'%}">Agregar producto</a></li>
                <li><a href="{% url 'registrarAdmin' %}">Agregar Admin</a></li>
                <li><a href="{% url 'cerrar' %}">Cerra Sesion</a></li>
            </ul>
            </div>
        
         
           
        </nav>
        

    </section>
    
    

    <main class="container">


        <div class="row">

            <!-- Parte izquierda -->


            <!-- Fin Parte izquierda -->

            <!-- Parte derecha -->
            {% block content %}


            {% endblock %}

            <!-- Parte derecha -->

        </div>

    </main>

    {% load sweetify %}
    {% sweetify %}

</body>

</html>